@page "/product/list"

@inject ProxyProduct ProxyProduct
@inject NavigationManager NavigationManager
@inject IToastService ToastService

<h3>Productos</h3>

<button class="btn btn-success" @onclick="Add">
    Nuevo
</button>
<button class="btn btn-secondary" @onclick="Load" title="Refrescar">
    <i class="oi oi-reload" />
</button>

<ProductListComponent @ref="ProductListComponent" Data="CollectionProduct" OnDelete="OnDelete" OnEdit="OnEdit" OnSearch="OnSearch">
    <Empty>
        <LoadingComponent IsLoading="IsLoading"></LoadingComponent>
    </Empty>
</ProductListComponent>
<PaginatorComponent @ref="PaginatorComponent" PaginatorData="PagesProduct" OnChangePage="OnPageChange" OnChangeSizePage="OnChangeSizePage" />

@code {
    public ICollection<ResponseDTOProduct> CollectionProduct { get; set; } = default!;
    public ProductListComponent ProductListComponent { get; set; } = default!;
    public PaginatorComponent PaginatorComponent { get; set; } = default!;
    public PagedData<ResponseDTOProduct> PagesProduct { get; set; } = default!;
    public bool IsLoading { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CollectionProduct = new List<ResponseDTOProduct>();
        PagesProduct = new PagedData<ResponseDTOProduct>()
            {
                CurrentPage = 1,
                RowsPerPage = 5
            };

        await Load();
    }

    private async Task Load()
    {
        try
        {
            IsLoading = true;
            var response = await ProxyProduct.ListAsync(ProductListComponent?.Filter, PagesProduct.CurrentPage, PagesProduct.RowsPerPage);
            if (response.Success)
            {
                CollectionProduct = response.Data!;
                PagesProduct.Data = CollectionProduct;
                PagesProduct.Count = CollectionProduct.Count;
                PagesProduct.Total = response.Pages;
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
        finally
        {
            IsLoading = false;
        }
    }

    private async Task OnSearch()
    {
        await Load();
    }

    private void OnEdit(int id)
    {
        NavigationManager.NavigateTo($"/product/edit/{id}");
    }

    private async Task OnDelete(int id)
    {
        await ProxyProduct.DeleteAsync(id);
        await Load();
    }

    private async Task OnPageChange()
    {
        IsLoading = true;
        await Load();
    }

    private async Task OnChangeSizePage()
    {
        PaginatorComponent.Data = PagesProduct;
        await Load();
    }

    private void Add()
    {
        NavigationManager.NavigateTo("/product/create");
    }
}
