

@inject SweetAlertService Swal

<div class="row pt-4 pb-4">
    <div class="row-cols-2">
        <div class="input-group">
            <input type="text" @bind="Filter" class="form-control" placeholder="Buscar..." />
            <button class="btn btn-primary" @onclick="OnSearch">Buscar</button>
        </div>
    </div>
</div>
<div class="row">
    @if (Data == null || !Data.Any())
    {
        @Empty
    }
    else
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th >Nombre</th>
                    <th >Estado</th>
                    <th >Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Data)
                {
                    <tr>
                        <td >@item.Name</td>
                        <td >@item.StringStatus</td>
                        <td >
                            <button class="btn btn-success" @onclick="() => OnEdit.InvokeAsync(item.Id)">
                                Editar
                            </button>
                            <button class="btn btn-danger" @onclick="() => Delete(item.Id)">
                                Borrar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    [Parameter]
    public ICollection<ResponseDTOCategory>? Data { get; set; }

    [Parameter]
    public EventCallback OnSearch { get; set; }

    [Parameter]
    public EventCallback<int> OnEdit { get; set; }

    [Parameter]
    public EventCallback<int> OnDelete { get; set; }

    [Parameter]
    [EditorRequired]
    public RenderFragment Empty { get; set; } = null!;

    public string? Filter { get; set; }

    public async Task Delete(int id)
    {
        var result = await Swal.FireAsync(new SweetAlertOptions
            {
                Text = "¿Está seguro que desea eliminar este registro?",
                Title = "Confirmar eliminación",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Si",
                CancelButtonText = "No"
            });

        if (result.IsConfirmed)
        {
            await OnDelete.InvokeAsync(id);
        }
    }
}
